<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/ffa6beebe6.js"
      crossorigin="anonymous"
    ></script>
    <title>Binary Coders - Database for everyone</title>
  </head>
  <body>
    <header>
      <nav class="nav sticky">
        <div class="logo">
          <img src="img/sj.webp" alt="" />
          <h1 class="navh1">storemydata.in</h1>
        </div>
        <ul class="nav__links">
          <li class="nav__item">
            <a class="nav__link" href="index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--last">About us</a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="#section--last">Contact us</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="section--input">
      <h1>Upload Data</h1>
      <div class="container">
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 1</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class1">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>

        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 2</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class2">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 3</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class3">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 4</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class4">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 5</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class5">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 6</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class6">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 7</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class7">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 8</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class8">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 9</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class9">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 10</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class10">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 11</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class11">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn btn--upload">Upload data</button>
          </div>
        </div>
        <div class="classes">
          <div class="class">
            <h3 class="class__content">Class 12</h3>
            <p class="class__content">&rarr;</p>
          </div>
          <div class="class__upload hidden class12">
            <p><strong>Upload your data here.</strong></p>
            <button class="btn btn--upload">Upload data</button>
          </div>
        </div>
      </div>
    </section>

    <section id="section--last">
      <div class="about">
        <h2>storemydata.in</h2>
        <p>
          storemydata.in is a platform for all schools and colleges to interact
          with the the government by providing their important data about
          students, which would help government in framing many new policies
          much more easily.
        </p>
      </div>
      <div class="linksAndContact">
        <div class="links">
          <h4>Useful links</h4>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Terms of service</a></li>
            <li><a href="">Privacy policy</a></li>
          </ul>
        </div>

        <div class="contact">
          <div><strong>Phone: </strong><span>+91 8238434387</span></div>
          <div>
            <strong>Email: </strong><span>help@storemydata.gov.in</span>
          </div>
        </div>

        <div class="socials">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>

      <div class="sendMessage">
        <h4>Send us a message</h4>
        <p>
          If you are facing some issue then please let us know so that we could
          work on it.
        </p>
        <div class="form">
          <form action="">
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="email"
                class="form-control"
                placeholder="Your Email"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="subject"
                class="form-control"
                placeholder="Subject"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="message"
                class="form-control message"
                placeholder="Message"
                required
              />
            </div>

            <div class="submit">
              <button class="btn btn--submit" type="submit">
                Send message
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <script src="js/main.js"></script>
  </body>
</html>
